@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #222;
  background: #F7F7F7;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: 0;
  border: 0;
  cursor: pointer;
}

h3 {
  display: flex;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.header__top {
  padding: 16px 0;
  background: #010101;
}
.header svg path {
  fill: #4F8FF0;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__contacts {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__callme {
  color: #4F8FF0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.header__callme:hover {
  text-decoration: underline;
}
.header__bottom {
  height: 112px;
  background: rgba(1, 1, 1, 0.76);
  position: absolute;
  width: 100%;
}
.header .hb {
  height: 112px;
}

.header-nav {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
}

.nav-link {
  color: #fff;
}

.header-nav a:hover {
  color: #4F8FF0;
  text-decoration: underline;
}

.header-name {
  display: flex;
  width: 312px;
  flex-direction: column;
  align-items: flex-start;
  gap: -10px;
}

.site-name {
  display: flex;
  width: 312px;
  flex-direction: column;
  align-items: flex-start;
}

.site-name h1 {
  color: #4F8FF0;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}

.site-name h2 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}

.legal-services {
  background-image: url(../images/фон.jpg);
  height: 820px;
  display: flex;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 250px;
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
}
.description__text {
  color: #fff;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
}
.description p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.description h2 {
  color: #4F8FF0;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  padding: 16px 24px;
  align-items: center;
  margin-top: 42px;
  gap: 10px;
  border: #4F8FF0;
  background: #4F8FF0;
}
.button:hover a {
  color: #4F8FF0;
}
.button a {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

.slider {
  display: flex;
  width: 1320px;
  justify-content: space-between;
  align-items: center;
  position: static;
  margin-top: 192px;
}
.slider__left {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  width: 28px;
}
.slider__left__1 {
  width: 4px;
  height: 40px;
  background: #4F8FF0;
}
.slider__left__2 {
  width: 4px;
  height: 24px;
  background: #e6e6e6;
}
.slider__left__3 {
  width: 4px;
  height: 24px;
  background: #e6e6e6;
}
.slider__right {
  display: flex;
  align-items: center;
  gap: 8px;
  bottom: 40pxs;
}
.slider__right__line {
  width: 32px;
  height: 2px;
  background: #e6e6e6;
  transform: rotate(110deg);
}

.service {
  width: 1320px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 48px;
}
.service .line {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.service__title h2 {
  color: #222;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  display: flex;
  margin: 0 auto;
  position: relative;
}
.service .info {
  display: flex;
  text-align: center;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 43px;
}
.service__center {
  max-width: 1320px;
  height: 538px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 48px;
}
.service__card {
  transition: 0.3s;
  display: flex;
  width: 424px;
  height: 250px;
  padding: 50px 32px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  flex-shrink: 0;
  background: #fff;
  position: relative;
}
.service__card:hover path {
  fill: #fff;
}
.service__card:hover .card_text {
  color: #fff;
}
.service__card:hover .card_text p {
  color: #fff;
}
.service__card:hover {
  background: #4F8FF0;
  -webkit-text-emphasis-color: #fff;
          text-emphasis-color: #fff;
}
.service__card p {
  display: flex;
  text-align: center;
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.card_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-self: stretch;
}

.card_text h3 {
  display: flex;
  margin: 0 auto;
}

.card_icon {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}
.card_icon path {
  fill: #4F8FF0;
}

.card_icon:hover {
  transform: scale(1.04);
  transition: 0.5s;
}

.service__card:hover .corner_tl {
  border-top: 1px solid #ffffff;
  border-left: 1px solid #fff;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 35px;
}
.service__card:hover .corner_tr {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
}
.service__card:hover .corner_bl {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 35px;
  height: 35px;
}
.service__card:hover .corner_br {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
}

.button {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  height: 49px;
  justify-content: center;
}
.button:hover {
  display: inline-flex;
  padding: 16px 24px;
  gap: 10px;
  border: 2px solid #4F8FF0;
  background: #fff;
}
.button:hover p {
  color: #4F8FF0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}
.button p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

.service__card:hover .card_text {
  transform: scale(1.04);
  transition: 0.1s;
}

.lawfirm {
  background: #fff;
  padding-top: 80px;
  margin-top: 80px;
  padding-bottom: 80px;
}
.lawfirm__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lawfirm__title {
  display: flex;
  width: 720px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.lawfirm__title h2 {
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.lawfirm__title .blue {
  color: #4F8FF0;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
}
.lawfirm__title .line {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
}
.lawfirm__description {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 720px;
  height: 264px;
  gap: 20px;
}
.lawfirm__button {
  display: flex;
  flex-direction: row;
  gap: 24px;
  gap: 10px;
}
.lawfirm__button-l {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #4F8FF0;
  background: #4F8FF0;
}
.lawfirm__button-l p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
}
.lawfirm__button-r {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #e6e6e6;
  background: #e6e6e6;
}
.lawfirm__button-r p {
  color: #222;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 16.8px */
  text-transform: uppercase;
}

.lawfirm__button-l:hover {
  background: #fff;
}
.lawfirm__button-l:hover p {
  color: #4F8FF0;
}

.lawfirm__button-r:hover {
  border: 2px solid #e6e6e6;
  background: #fff;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}
.contact-link__icon {
  width: 20px;
  height: 20px;
}
.contact-link__icon path {
  fill: #4F8FF0;
}
.contact-link:hover {
  color: #4F8FF0;
  text-decoration: underline;
}

.ourlawyers {
  background: #f7f7f7;
}
.ourlawyers .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourlawyers_title {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.ourlawyers_title h2 {
  color: #222;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.ourlawyers_title .line {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
}
.ourlawyers_text {
  margin-top: 24px;
  color: #222;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  width: 920px;
}
.ourlawyers_cards {
  padding-top: 48px;
  display: flex;
  padding-bottom: 24px;
  gap: 24px;
  flex-direction: row;
}
.ourlawyers_card {
  display: flex;
  width: 312px;
  padding-bottom: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: #fff;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  height: 100%;
  position: relative;
}
.ourlawyers_card:hover .hover {
  opacity: 1;
  height: 100%;
  display: flex;
  width: 100%;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.ourlawyers_card .hover {
  display: flex;
  flex-direction: column;
  transition: 1s;
  opacity: 0;
  position: absolute;
  background: #fff;
}
.ourlawyers_card .hover_text {
  display: flex;
  width: 305px;
  padding: 0px 20px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 48px;
}
.ourlawyers_card .hover_text h3 {
  color: #222;
  text-align: center;
  align-self: stretch;
  white-space: 19px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.ourlawyers_card_text {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.ourlawyers_card h3 {
  color: #222;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.ourlawyers_card p {
  color: #222;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
}/*# sourceMappingURL=style.css.map */