.about_Us {
  padding-bottom: 80px;
  padding-top: 80px;
  background: #222;

  & .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .name {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: -10px;
      & .blue {
        color: $accent-color;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 150%;
        text-transform: uppercase;
      }

      & .white {
        color: #fff;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        line-height: 150%;
        text-transform: lowercase;
      }
    }
    & .top_description {
      color: #f8f5f4;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      width: 862px;
      text-transform: lowercase;
    }
  }

  & .line {
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: #8c8c8c;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  & .body {
    display: flex;
    justify-content: space-between;
    & .us {
      display: flex;
      flex-direction: column;
      gap: 24px;

      & .lacation:hover,
      .tel_num:hover,
      .us_emai:hover {
        & .us_info_svg {
          & svg path {
            fill: $accent-color;
            transition: 0.3s;
          }
        }
        & .location_info,
        .num_info,
        .email_info {
          & span {
            transition: 0.3s;
            color: $accent-color;
          }
        }
      }

      &_info_svg {
        display: flex;

        position: relative;
        width: 55px;
        height: 55px;
        background: #2c2c2c;

        & svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &_info {
        display: flex;
        align-items: center;
        gap: 24px;

        & p {
          color: #8c8c8c;
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
          text-transform: uppercase;
        }

        & span {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 24px */
        }
      }
    }

    & .footer_nav {
      display: flex;
      max-width: 312px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      & a {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
      }

      & a:hover {
        transition: 0.3s;
        color: $accent-color;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
      }
    }

    & .ask_question {
      & .lawyer_info {
        display: flex;
        flex-direction: row;
        gap: 24px;

        & .ava {
          width: 65px;
          height: 65px;
          background: url(../images/1612805617_78-p-anime-fon-v-golubikh-tonakh-145.jpg);
          border-radius: 100px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }

        & .name {
          & p {
            color: #fff;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
          }

          & span {
            color: #fff;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
          }
        }
      }

      & .lowyer_description {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        max-width: 424px;
        margin-top: 16px;
      }

      & .lowyer_button {
        margin-top: 24px;
        & button {
          display: flex;
          padding: 16px 24px;
          align-items: flex-start;
          gap: 10px;
          border: 2px solid $accent-color;
          background: $accent-color;

          & p {
            color: #fff;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 900;
            line-height: 120%;
            text-transform: uppercase;
          }

          &:hover {
            transition: 0.3s;
            border: 2px solid $accent-color;
            background: #fff;

            & p {
              color: $accent-color;
            }
          }
        }
      }
    }
  }
}

.footer {
  background: #181818;
  padding-top: 16px;
  padding-bottom: 16px;

  & .footer_link {
    display: flex;
    justify-content: space-between;

    & a,
    p {
      color:  #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 16.8px */
    }
  }
}
