.lawfirm {
  background: #fff;
  padding-top: 80px;
  margin-top: 80px;
  padding-bottom: 80px;

  &__right {
    object-fit: cover;
    width: 535px;
    height: 359px;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    width: 720px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    &_text {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    & h2 {
      color: #222;
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: 150%;
      text-transform: uppercase;
    }

    & .blue {
      color: $accent-color;
      font-size: 28px;
      font-style: normal;
      font-weight: 900;
      line-height: 150%;
      text-transform: uppercase;
    }

    & .line {
      width: 50px;
      height: 3px;
      background: $accent-color;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 720px;
    height: 264px;
    gap: 20px;
  }

  &__button {
    display: flex;
    flex-direction: row;
    gap: 24px;

    gap: 10px;
    &-l {
      display: flex;
      padding: 16px 24px;
      align-items: flex-start;
      gap: 10px;
      border: 2px solid $accent-color;
      background: $accent-color;
      & p {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%; /* 16.8px */
        text-transform: uppercase;
      }
    }

    &-r {
      display: flex;
      padding: 16px 24px;
      align-items: flex-start;
      gap: 10px;
      border: 2px solid #e6e6e6;
      background: #e6e6e6;

      & p {
        color: #222;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%; /* 16.8px */
        text-transform: uppercase;
      }
    }
  }
}

.lawfirm__button-l:hover {
  transition: 0.3s;
  background: #fff;

  & p {
    color: $accent-color;
  }
}

.lawfirm__button-r:hover {
  transition: 0.3s;
  border: 2px solid #e6e6e6;
  background: #fff;
}
