.ourlawyers {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f7f7f7;
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_title {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    & h2 {
      color: $main-text-color;
      font-size: 28px;
      font-style: normal;
      font-weight: 800;
      line-height: 150%;
      text-transform: uppercase;
    }

    & .line {
      width: 50px;
      height: 3px;
      background: $accent-color;
    }
  }

  &_text {
    margin-top: 24px;
    color: $main-text-color;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-right: auto;
    margin-left: auto;
    width: 920px;
  }

  &_cards {
    padding-top: 48px;
    display: flex;
    gap: 24px;
    flex-direction: row;
  }

  &_card {
    display: flex;
    width: 312px;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: center;
    height: 420px;
    gap: 24px;
    background: #fff;
    box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
    position: relative;
    overflow: hidden;
    background-size: cover;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover .hover {
      opacity: 1;
      display: flex;
      padding: 0px 20px;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      transition: 0.3s;
    }

    & .hover {
      display: flex;
      flex-direction: column;
      opacity: 0;
      position: absolute;
      background: #fff;
      inset: 0 0 0 0;

      & .employee_description {
        color: $main-text-color;
        width: 265px;
      }

      & .employee_name {
        margin-top: 83px;
        color: $main-text-color;
        text-align: center;
        font-family: Nunito Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 19.2px */
      }
    }
  }

  &_text {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  & .employee_name {
    color: $main-text-color;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
  & .employee_name_hover {
    margin-top: 83px;
    color: $main-text-color;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }

  & p {
    color: $main-text-color;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    text-transform: lowercase;
  }
}

.ourlawyers_card:hover .corner {
  &_tl {
    border-top: 1px solid $accent-color;
    border-left: 1px solid $accent-color;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 35px;
    height: 35px;
  }
  &_tr {
    border-top: 1px solid $accent-color;
    border-right: 1px solid $accent-color;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
  }
  &_bl {
    border-bottom: 1px solid $accent-color;
    border-left: 1px solid $accent-color;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 35px;
    height: 35px;
  }
  &_br {
    border-bottom: 1px solid $accent-color;
    border-right: 1px solid $accent-color;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
  }
}
